{ "presets":
[
    [
        "@babel/env",
    {
        "modules": false,
        "useBuiltIns": "usage"
    }
], "@babel/react"] ,
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        ["@babel/plugin-proposal-class-properties",{
            "loose": true
        }],

        "babel-plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]

    ]
}

